<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.goods.business.mapper.OutStockMapper">
    <select id="getConsumer" resultType="com.goods.common.vo.business.ConsumerVO">
        select
            address,
            name,
            contact,
            phone
        from biz_consumer bc
                 join biz_out_stock bos on bos.consumer_id = bc.id
        where bos.id = #{id}
    </select>

    <select id="findOUtStockDetail" resultType="com.goods.common.vo.business.OutStockItemVO">

        SELECT *, bosi.product_number COUNT
        FROM `biz_out_stock` bos
            LEFT JOIN `biz_out_stock_info` bosi
        ON bos.`out_num` = bosi.out_num
            LEFT JOIN `biz_product` bp
            ON bosi.p_num = bp.p_num
        WHERE bos.id = #{id}
    </select>

</mapper>